.layout {
  width: 100%;
  position: relative;
}

.layout:hover {
  cursor: text;
}


.layout:hover .helperLayout {
  visibility: visible;
  transition: visibility 2s ease;
}

.wrapper {
  outline: none;
  padding: 0 4px;
}

.wrapper:hover, .wrapper:focus {
  border-radius: 8px;
  background-color: rgb(224,233,255);
  transition: background-color 0.2s ease;
}

.contentLine {
  outline: none;
  height: 26px;
}

.helperLayout {
  position: absolute;
  top: 0;
  left: -50px;
  visibility: hidden;
}